# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Playwright reports
playwright-report/
